DISCORD_TOKEN=your_bot_token_here

# Channel IDs
GENERAL_RULES_CHANNEL_ID=
INVITE_GEN_ALLOWLIST_CHANNELS= # comma separated

# Role IDs
MENTOR_ROLE_ID=
ADMIN_ROLE_ID=
MOD_ROLE_ID=
STUDENT_ROLE_ID=

# UploadThing (bulk invite CSV storage)
UPLOADTHING_TOKEN=
